body{
    background-repeat: no-repeat;
    background-size: cover;
    
}
 nav img{
    width: 100px;
    border-radius: 40px;
    float: left;
    background-color: black;
}

.page a{
    color:black;
    text-decoration: none;
    margin: 20px; padding: 5px 4px;
    text-transform: uppercase;
    background-color: cornsilk ;
    border-radius: 20px;
    clear: both;

}
.page ul {
list-style-type: none;
float:right ;
display: flex;
 margin: 0%;
 padding: 20px;
}
.page a:hover{
    color: deepskyblue;
    cursor: pointer;
transform: skewY(2px);}
.name{
    clear: both;
    text-transform: uppercase;
    text-align: left ;
    margin:20px;
}
.name h1{
    padding-top: 20px;
 font-size: 50px;
 text-transform: uppercase;
}
.name p{
    padding: 10px;
    text-align:center;
    font-family: serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    color:black;
 font-size: larger ;
}
.name img{
    width: 220px;
    float:right;
}
i{
    margin-bottom: 10px;
    padding: 20px;
}
.button{
   background-color: black;
    padding: 20px;
    border-radius: 10px ;
}
.button a{
 text-decoration: none;
 text-align: center;
text-transform: uppercase;
color: antiquewhite;
font-weight: bolder;
font-family:Arial, Helvetica, sans-serif;
}
.address{
font-family: Arial, Helvetica, sans-serif;
color: brown;
font-size: 20px;
text-align: justify;
h4{
    background-color: wheat;
    margin: 0%; padding: 5px;
    border-radius: 10px;
}
iframe{
    border-radius: 10px;
}
}
.address p{
    background: #2056f2;
    color:white;
    font-style: oblique;
    text-align: justify;
    padding: 10px;
    margin: 10%;
    border-radius: 15px;
}
.orderlist h1{
    clear: both;
 text-transform: uppercase;
 text-align: center;
}
.orderlist h2,h3{
    text-align: center;
}

form{
    margin-top: 12px;
    margin-bottom: 12px;
}


#sub{
    background-color: rgb(62, 82, 229);
    width: 80%; height:auto;
    padding: 10px 1px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(241, 237, 237);
   font-weight: bolder;
   
   
}
#sub:hover{
    background-color: rgb(97, 200, 234);
    cursor: pointer;
    color: black;

}
table{
    margin: 10px 0%;
    padding: 10px;
     text-align: center;
    text-transform: uppercase;
    color:crimson;
    margin: 0px 400px;
    background-color:white;
    border-radius: 10px;
    width: 500px;
    height: auto;
    opacity: 0.5;
    input{
        width:auto;
        height: 20px;
        border-radius: 45px;
    }
}